body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(158, 158, 158);
}

form {
  width: 300px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
}

.error {
  color: red;
}
